In [1]:
import pandas as pd

In [23]:
def format(s: str):
    return s.lower()\
        .replace('-', '')\
        .replace('ł', 'l')\
        .replace('ś', 's')\
        .replace('ą', 'a')\
        .replace('ę', 'e')\
        .replace('ó', 'o')\
        .replace('ń', 'n')

In [24]:
df = pd.read_csv('../Data/BDL/csv/mieszkania_oddane_do_użytkowania/ogółem__mieszkania.csv')
df['rok'] = pd.to_numeric(df['rok'])
df['wojewodzctwo'] = df.apply(lambda row: format(row['wojewodzctwo']), axis=1)

In [26]:
df[(df['rok'] > 2016)]

    wojewodzctwo   rok  wartosc
22   malopolskie  2017  19963.0
23   malopolskie  2018  18220.0
24   malopolskie  2019  21751.0
25   malopolskie  2020  19843.0
26   malopolskie  2021  21923.0
..           ...   ...      ...
427  mazowieckie  2017  37274.0
428  mazowieckie  2018  41078.0
429  mazowieckie  2019  43159.0
430  mazowieckie  2020  46638.0
431  mazowieckie  2021  44385.0

[80 rows x 3 columns]