In [37]:
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.read_pickle('../Data/Otodom/otodom_09_05_23.zip')

In [10]:
df[df['city'] == 'Warszawa']

,name,voivodeship,city,price,currency,rooms,size
12,"Mieszkanie, 39,17 m², Warszawa",mazowieckie,Warszawa,540000.0,None,2,39.17
22,"Mieszkanie 2pok, wyposażone, gotowe do mieszkania",mazowieckie,Warszawa,880000.0,None,2,53.43
26,Ustawne 2-pokoje LOGGIA ul. Płochocińska || 2025,mazowieckie,Warszawa,371543.0,None,2,40.63
33,Apartament dwupoziomowy przy parku Cietrzewia,mazowieckie,Warszawa,1800000.0,None,4,123.00
47,"Mieszkanie, 39,17 m², Warszawa",mazowieckie,Warszawa,540000.0,None,2,39.17
...,...,...,...,...,...,...,...
133185,Metro Młociny/22m2 Tarasu/Na Wynajem,mazowieckie,Warszawa,1000000.0,None,3,73.50
133192,"Z duzym tarasem , wysoki standard wykończenia",mazowieckie,Warszawa,1840000.0,None,4,98.15
133194,"Sprzedam mieszkanie 37,5 m2. Bez pośredników",mazowieckie,Warszawa,460000.0,None,2,37.50
133198,3 pok. Komfortowe Mieszkanie Sady Żoliborskie,mazowieckie,Warszawa,820700.0,None,3,56.60
133202,"2 pok 40,5m2 + garaż i komórka Metro oddanie I...",mazowieckie,Warszawa,570000.0,None,2,40.52

In [12]:
wojewodztwa = ['dolnośląskie', 'kujawsko-pomorskie', 'lubelskie', 'lubuskie', 'łódzkie', 'małopolskie', 'mazowieckie', 'opolskie', 'podkarpackie', 'podlaskie', 'pomorskie', 'śląskie', 'świętokrzyskie', 'warmińsko-mazurskie', 'wielkopolskie', 'zachodniopomorskie']
wojewodztwa.sort()

In [ ]:
# histogram/radar liczby pokoi per województwo
df[['voivodeship', 'rooms', 'name']].groupby(['voivodeship', 'rooms']).count()

In [ ]:
# cena za m2 grupowana na pokoje per województwo
df['price/m2'] = df['price']/df['size']
df[['voivodeship', 'rooms', 'price/m2']].groupby(['voivodeship', 'rooms']).mean()

In [ ]:
# średnie ceny grupowane na pokoje per województwo
df[['voivodeship', 'rooms', 'price']].groupby(['voivodeship', 'rooms']).mean()

In [ ]:
# scatter/bubble chart metrarzu/ceny per województwo z labelingiem na liczbę pokoi (?)
for w in wojewodztwa:
    print(df[df['voivodeship'] == w][['voivodeship', 'price', 'size']].mean().count())

In [ ]:
# pie chart z liczbą ofert per województwo
df[['voivodeship', 'rooms']].groupby(['voivodeship']).count()

In [34]:
# 4 miasta z największą ilością ofert per województwo
for w in wojewodztwa:
    print(df[df['voivodeship'] == w][['voivodeship', 'city', 'name']].groupby(['voivodeship', 'city']).count()['name'].nlargest(4))

voivodeship   city
dolnośląskie  Wrocław     14740
              Oleśnica     1864
              Głogów        918
              Bolków        843
Name: name, dtype: int64
voivodeship         city
kujawsko-pomorskie  Bydgoszcz    2029
                    Włocławek     740
                    Gniewkowo     693
                    Toruń         692
Name: name, dtype: int64
voivodeship  city
lubelskie    Lublin      5840
             Puławy      1103
             Turka        373
             Pokrówka     336
Name: name, dtype: int64
voivodeship  city
lubuskie     Zielona Góra    111
Name: name, dtype: int64
voivodeship  city
mazowieckie  Warszawa                22626
             Żyrardów                  772
             Radzymin                  747
             Nowy Dwór Mazowiecki      527
Name: name, dtype: int64
voivodeship  city
małopolskie  Kraków      9348
             Chełmiec     779
             Skawina      621
             Kęty         439
Name: name, dtype: int64
voivodeship  city
opolskie     Opole    336
Name: name, dtype: int64
voivodeship   city
podkarpackie  Rzeszów    4502
Name: name, dtype: int64
voivodeship  city
podlaskie    Horodniany    848
             Łomża         694
             Białystok      29
Name: name, dtype: int64
voivodeship  city
pomorskie    Gdańsk    4993
             Sopot     2137
             Rumia     1233
             Lębork    1039
Name: name, dtype: int64
voivodeship          city
warmińsko-mazurskie  Działdowo     848
                     Iława         716
                     Nidzica       373
                     Bartoszyce    252
Name: name, dtype: int64
voivodeship    city
wielkopolskie  Poznań      8015
               Września    1029
               Oborniki     972
               Leszno       827
Name: name, dtype: int64
voivodeship         city
zachodniopomorskie  Szczecin    1656
                    Drozdowo     971
                    Koszalin     634
                    Darłowo      473
Name: name, dtype: int64
voivodeship  city
łódzkie      Łódź                  4751
             Aleksandrów Łódzki     904
             Ozorków                776
             Skierniewice            22
Name: name, dtype: int64
voivodeship  city
śląskie      Częstochowa    2619
             Katowice       1383
             Zabrze         1379
             Czeladź         827
Name: name, dtype: int64
voivodeship     city
świętokrzyskie  Kielce         2492
                Busko-Zdrój    1469
Name: name, dtype: int64

In [ ]:
df[df['voivodeship'] == 'podlaskie']