In [ ]:
import pandas as pd
df = pd.read_pickle('../Data/Otodom/otodom_09_05_23.zip')

In [13]:
# histogram/radar liczby pokoi per województwo
df[['voivodeship', 'rooms', 'name']].groupby(['voivodeship', 'rooms']).count()

                            name
voivodeship         rooms
dolnośląskie        1        914
                    2       6952
                    3       8530
                    4       3845
                    6         66
kujawsko-pomorskie  2       1882
                    3       3148
lubelskie           2       3396
                    3       2066
                    4       1136
                    5       1054
lubuskie            1         65
                    2         23
                    3         23
mazowieckie         1        189
                    2       9926
                    3      10571
                    4       3638
                    5       1384
małopolskie         1        552
                    2       3570
                    3       3678
                    4       4002
opolskie            3        336
podkarpackie        1        739
                    2       1216
                    3        759
                    4       1788
podlaskie           1        694
                    3        848
                    4         29
pomorskie           1       1275
                    2       4036
                    3       5367
                    4       2007
warmińsko-mazurskie 2        968
                    3       1451
wielkopolskie       1        230
                    2       5718
                    3       3810
                    4       2013
zachodniopomorskie  2       2956
                    3       1148
                    4         71
łódzkie             1        289
                    2       2395
                    3       2993
                    4        776
śląskie             1       1898
                    2       6395
                    3       5118
                    4       1327
świętokrzyskie      2       2581
                    3       1380

In [ ]:
# cena za m2 grupowana na pokoje per województwo
df['price/m2'] = df['price']/df['size']
df[['voivodeship', 'rooms', 'price/m2']].groupby(['voivodeship', 'rooms']).mean()

In [ ]:
# średnie ceny grupowane na pokoje per województwo
df[['voivodeship', 'rooms', 'price']].groupby(['voivodeship', 'rooms']).mean()

In [ ]:
# scatter/bubble chart metrarzu/ceny per województwo z labelingiem na liczbę pokoi (?)
df[df['voivodeship'] == 'WOJEWÓDZTWO'][['voivodeship', 'price', 'size']]

In [ ]:
# pie chart z liczbą ofert per województwo
df[['voivodeship', 'rooms']].groupby(['voivodeship']).count()

In [ ]:
# 4 miasta z największą ilością ofert per województwo
df[df['voivodeship'] == 'śląskie'][['voivodeship', 'city', 'name']].groupby(['voivodeship', 'city']).count().head(4)